<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSV File Upload</title>
</head>
<body>
  <form action="/uploadCSV" method="post" enctype="multipart/form-data">
    <input type="file" name="csvFile" >
    <button type="submit">Upload CSV</button>
  </form>
</body>
</html>
